<!DOCTYPE html>
<html lang="en" ng-app="App">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Parent control system">
    <title>Signin page</title>

    {% load static %}

    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'angular.min.js' %}"></script>
    <script src="{% static 'angular-route.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/controllers/reg.js' %}"></script>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

  </head>

  <body>
    <div class="container" data-ng-view="">
      
    </div>
  </body>

</html>

