<!DOCTYPE html>
<html lang="en" ng-app="App">
  <head>
    <base href="/users/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Parent control system">
    <title>Signin page</title>

    {% load static %}

    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'angular.min.js' %}"></script>
    <script src="{% static 'angular-route.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/services/csrf.js' %}"></script>
    <script src="{% static 'js/services/loader.js' %}"></script>
    <script src="{% static 'js/services/user.js' %}"></script>
    <script src="{% static 'js/controllers/reg.js' %}"></script>
    <script src="{% static 'js/controllers/login.js' %}"></script>
    <script src="{% static 'js/controllers/main.js' %}"></script>
    <script src="{% static 'js/controllers/dashboard.js' %}"></script>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

  </head>

  <body ng-controller="main">
    {% csrf_token %}
    {% include 'loader.html' %}

    <div class="container" data-ng-view="">
      
    </div>

    <div class="lock-screen-block" ng-show="loader.global">
      <div class="loader">
        <img src="{% static 'img/loader.svg' %}" alt="loader" />
      </div>
    </div>

  </body>

</html>

